/* to avoid content overflow, use box-sizing */
html {
  box-sizing: border-box; 
}

/*  ::after ::before是伪元素, 是看不见的虚拟子元素, *(星号)代表所有元素 */
*, *::before, *::after {
  box-sizing: inherit;
}

/* #piano是选择id是piano的元素 */
#piano {
  background-color: #00471b;
  width: 992px;
  height: 290px;
  margin: 80px auto;
  padding: 90px 20px 0 20px;
  position: relative;
  border-radius: 10px;
}

.keys {
  background-color: #040404;
  width: 949px;
  height: 180px;
  padding-left: 2px;
  overflow: hidden;
}

.key {
  background-color: #ffffff;
  position: relative;
  width: 41px;
  height: 175px;
  margin: 2px;
  float: left;
  border-radius: 0 0 3px 3px;
}

.key.black--key::after {
  background-color: #1d1e22;
  content: "";
  position: absolute;
  left: -18px;
  width: 32px;
  height: 100px;
  border-radius: 0 0 3px 3px;
}

.logo {
  width: 200px;
  position: absolute;
  top: 23px;
}

/* @media property 是用于响应式设计的, 可以根据不同的屏幕尺寸应用不同的样式 以防止内容溢出或者比例在不同屏幕上很奇怪 */
@media (max-width: 768px) {
  #piano {
    width: 358px;
  }

  .keys {
    width: 318px;
  }

  .logo {
    width: 150px;
  }
}

@media (max-width: 1199px) and (min-width: 769px) {

}